<!-- This partial displays the panels on the product page -->
<div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-2 col-md-4">
        <h2><%= product.name %></h2>
        <p><%= product.colour %></p>
        <p><%= product.image_url %></p>
        <%= image_tag("product.image_url", class:"img-responsive my-image") %>
        <p><%= product.description %></p>
        <p><strong> $ <%= product.price %></strong></p>
        
      </div><!-- /col -->
    <% end %>
</div>