<p id="notice"><%= notice %></p>

<div class="header">
  <h1>Bikes for Sale</h1>
  <p>
    Welcome to my folding bike shop.
  </p>
</div> <!-- /header -->

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-2 col-md-4">
        <h2><%= product.name %></h2>
        <p><%= product.colour %></p>
        <p><%= product.image_url %></p>
        <%= image_tag("racingbike.png", class:"img-responsive my-image") %>
        <p><%= product.description %></p>
        <p><strong> $ <%= product.price %></strong></p>
        
      </div><!-- /col -->
    <% end %>
  </div>
</div>


<br>

<%= link_to 'New Product', new_product_path %>