<p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-md-6">
      <p>
        <h3><%= @product.name %></h3>
      </p>
     
      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>
      <div class="thumbnail">
        <%= image_tag(@product.image_url, width: "350", class: "img-zoom") %>
      </div

      <p>
      	<strong>Colour:</strong>
      	<%= @product.colour %>
      </p>

      <p>
      	<strong>Price:</strong>
      	<%= @product.price %>
      </p>
      <p>Average Rating: 
        <div class="rated" data-score="<%= @product.average_rating %>"></div>
       </p>
       <%= form_tag "/payments/create" do %>
       <%= hidden_field_tag(:product_id, @product.id) %> 
        <%= render partial: "shared/stripe_checkout_button" %>
      <% end %>
    </div>
 
      <div class="col-md-6">
        <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
        <%= render "new_comment" %>
        <%= render "comments" %>
        
      </div>
      <%= will_paginate @comments %>
      <%= link_to 'Edit', edit_product_path(@product), class:'btn vtn-primary' %> |
      <%= link_to 'Back', products_path, class:'btn btn-primary' %>

   </div>
